html, body, #example-app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.file-drop-area {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.0);
}

.file-drop-area--hovered {
  background: rgba(0,0,0,0.15);
}


.sample-drag {
  opacity: 1;
  position: absolute;
  width: 300px;
  height: 150px;
  background: red;
  transition: all 0s ease-in;
}

.board-content-image {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 200px;
}
