<div ng-app="exampleApp" id="example-app" ng-controller="ExampleCtrl">
  <div ng-file-drop="onFileSelect($files)"
       droppable
       class="file-drop-area"
       ng-file-drag-over-class="file-drop-area--hovered">
       <board-content ng-repeat="image in images" image="image">
   </div>
</div>
